# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.cache
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Python-specific
__pycache__/
*.pyc
